#sidebar {
    float: left;
}
#id-container {
    width: auto;
    position: relative;
}
#content {
    padding: 10px;
}
.map-controls {
    left: auto;
}
.photos-list-pane {
    overflow: auto;
}
.photo-list-item {
    position: relative;
    margin-left: 4px;
    margin-top: 4px;
    float: left;
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.photo-list-item:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.photo-list-item img {
    width: 50px;
    margin: 0 0 10px;
}
.photo-list-item img.geo,
.photo-list-item img.machine-tag {
    position: absolute;
    bottom: 0;
    margin: 0 0 3px;
}
.photo-list-item img.geo {
    width: 15px;
    left: 0;
    opacity: 0.3;
    margin-left: 3px;
}
.photo-list-item img.machine-tag {
    width: 15px;
    right: 0;
    margin-right: 3px;
}

.pane .inspector-body {
    top: 60px;
}
.pane .inspector-body .photo {
    text-align: center;
}
#tags {
    padding-left: 10px;
}
#tags li {
    line-height: 24px;
}
#tags li.new a.add {
    display: inline-block;
    padding: 0;
    width: 18px;
    margin-right: 1px;
    margin-left: 4px;
    height: 18px;
    background: url(http://l.yimg.com/g/images/flickr-sprite.png.v5) no-repeat -1810px -10px;
}
#tags li.new a.loading {
    background: url(../images/loading.gif) no-repeat;
}
#tags li.new a.done {
    background-position: -1530px -90px;
}
#tags li.old {
    display: inline-block;
    border: 1px solid #dfdfdf;
    margin: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 2px;
}
#tags li a.delete-x {
    visibility: hidden;
    display: inline-block;
    padding: 0;
    width: 8px;
    margin-right: 1px;
    margin-left: 4px;
    height: 14px;
    background: url(http://l.yimg.com/g/images/flickr-sprite.png.v5) no-repeat -1455px -10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#tags li:hover a.delete-x {
    visibility: visible;
}
#tags li a.delete-x:hover {
    background-position: -1455px -50px;
}
#tags li a.add span,
#tags li a.delete-x span {
    position: absolute;
    left: -999em;
}


.tag-row .key-wrap,
.tag-row .input-wrap-position {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: auto;
    width: 50%;
}
.tag-row .key-wrap {
    font-weight: bold;
}
.radial-menu-tooltip {
    width: 300px;
}
