#sidebar {
    float: left;
}
.photos-list-pane {
    overflow: auto;
}
.photo-list-item {
    position: relative;
    margin-left: 4px;
    margin-top: 4px;
    float: left;
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.photo-list-item:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.photo-list-item img {
    width: 50px;
    margin: 0 0 10px;
}
.photo-list-item img.geo,
.photo-list-item img.machine-tag {
    position: absolute;
    bottom: 0;
    margin: 0 0 3px;
}
.photo-list-item img.geo {
    width: 15px;
    left: 0;
    opacity: 0.3;
    margin-left: 3px;
}
.photo-list-item img.machine-tag {
    width: 15px;
    right: 0;
    margin-right: 3px;
}
.photos-pagination li {
    display: inline;
}
.photos-pagination ul > li > a {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pane .inspector-body {
    top: 60px;
}
