#sidebar {
    float: left;
}
#id-container {
    width: auto;
    position: relative;
}
#content {
    padding: 10px;
}
.map-controls {
    left: auto;
}
.photos-list-pane {
    overflow: auto;
}
.photos-list-pane .loading {
    background-color: grey;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.photo-list-item {
    position: relative;
    margin-left: 4px;
    margin-top: 4px;
    float: left;
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.photo-list-item:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.photo-list-item img {
    width: 50px;
    margin: 0 0 10px;
}
.photo-list-item img.geo,
.photo-list-item img.machine-tag {
    position: absolute;
    bottom: 0;
    margin: 0 0 3px;
}
.photo-list-item img.geo {
    width: 15px;
    left: 0;
    opacity: 0.3;
    margin-left: 3px;
}
.photo-list-item img.machine-tag {
    width: 15px;
    right: 0;
    margin-right: 3px;
}

.photo-editor-pane .header {
    height: 20px;
}
.photo-editor-pane .header h3 {
    padding: 0;
}

.pane .inspector-body {
    top: 20px;
    padding: 5px;
}
.pane .inspector-body .photo {
    text-align: center;
}

#tags li {
  display: inline-block;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 2px;
  line-height: 24px;
  margin: 0 4px 4px 0;
  background-color: white;
  background-image: none;
  white-space: nowrap;
}
#tags li a {
  display: inline-block;
  width: 24px;
  height: 18px;
  position: relative;
  top: 4px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#tags li.new {
  border-color: lightgreen;
}
#tags li.new a {
  background: url(http://l.yimg.com/g/images/flickr-sprite.png.v5) no-repeat -1810px -10px;
}
#tags li.old a {
  visibility: hidden;
  background: url(http://l.yimg.com/g/images/flickr-sprite.png.v5) no-repeat -1410px -10px;
}
#tags li.old:hover a {
  visibility: visible;
}
#tags li.old:hover a:hover {
  background-position: -1450px -50px;
}
#tags li.done a {
  background: url(http://l.yimg.com/g/images/flickr-sprite.png.v5) no-repeat -1530px -90px;
}
#tags li.loading a {
  visibility: visible;
  top: 6px;
  z-index: 0;
  background: url(http://www.flickr.com/images/pulser2.gif) no-repeat;
}
#tags li.loading:hover a:hover {
  background-position: 0 0;
}
#tags li a span {
  position: absolute;
  left: -999px;
}


.tag-row .key-wrap,
.tag-row .input-wrap-position {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: auto;
    width: 50%;
}
.tag-row .key-wrap {
    font-weight: bold;
}
.radial-menu-tooltip {
    width: 300px;
}

/* map marker */
.layer-flickr4osm g * {
    stroke: #444;
    stroke-width: 1;
    fill: #7CB4FF;
}
